h1,h2 {
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #77cc73
}

#tuner_part{
	display: flex;
	text-align: center;
	justify-content: center;
}

#tuner{
	display: flex;
	align-self: center;
	background-color: #77cc73
}

#notes{
	margin-left: 5%;
}

h4{
	display: flex;
	align-self: flex-start;
	text-indent: 25%;
	background-color: #77cc73
}

h5{
	display: flex;
	justify-content: center;
}


#player{
	display: flex;
	justify-content: center;
}

#play{
	display: flex;
	align-self: flex-start;
	margin-left: 2%
}

#jam{
	margin-top: 2%
}

#jam_blocks{
	display: flex;
	justify-content: center;
}

#rhythm{
	display: flex;
	background-color: #77cc73
}

#metronome{
 height:50px;
 width:50px;
 background-color: rgba(0,0,0,1);
 border-radius:4px;
}

.um{
 display: flex;
 text-align: center;
 justify-content: center;
}

#bpm{ 
 margin-top: 2%
}

#freq{
	display: flex;
	align-self: flex-start;
	font-size: 120%;
}

#start{
	display: flex;
	margin-top:5%;
	font-size: 120%;
}

.start{
	display: flex;
	font-size: 120%;
}

.metronome {
 height:100px;
 width:50px;
 background-color: rgba(200,80,80,1);
 border-radius:4px;
}

#block1{
	background-color: rgba(200,80,80,1);
}

#block2{
 background-color: rgba(100,200,200,1);
 margin-left:130%;
}

#block3{
 background-color: rgba(100,80,200,1);
 margin-left:130%;
}

#block4{
 background-color: rgba(100,200,100,1);
 margin-left:130%;
}

#block5{
 background-color: rgba(250,200,150,1);
 margin-left:130%;
}

#block6{
 background-color: rgba(200,130,200,1);
 margin-left:130%;
}

#block7{
 background-color: rgba(150,200,250,1);
 margin-left:130%;
}

